<div ng-controller="MovieDetailCtrl">
  <h4>{{movie.title}} <span ng-show="movie.year">({{movie.year}})</span></h4>
  <p>
    <div>Summary: {{movie.summary}}</div><br>
    <div>Runtime: {{movie.runtime}}</div><br>
    <div>Theatre release date: {{movie.theater_release_date}}</div><br>
    <div>DVD release date: {{movie.dvd_release_date}}</div><br>
    <div>Audience rating: {{movie.audience_rating}}</div><br>
    <div>Critics rating: {{movie.critics_rating}}</div><br>
    <div>Rating: {{movie.rating}} ({{movie.review_count}} reviews)</div><br>
    <div>Link: <a ng-href="{{movie.url}}" target="_blank">More information</a></div><br>
  </p>
  <img ng-src="{{movie.photo_url}}">
  <!-- <button ng-click="addRestaurant(restaurant.id)">Add</button> -->
  <button ng-click="showPreviousMovie()">Previous</button>
  <button ng-click="showNextMovie()">Next</button>
  <a href="#/search">Back to list</a>
</div>