<div ng-controller="SearchCtrl">

  <div class="container">
    <div class="row">
      <div class="btn-group col-xs-offset-1 col-xs-11 col-sm-offset-4 col-sm-8 col-md-offset-5 col-md-7" data-toggle="buttons">
        <button class="btn btn-default custom-btn-cat-width" ng-class="{active: isSelected('movie')}" ng-click="selectTab('movie')">
          <input type="radio">
          <span class="fa fa-film fa-4x" id="category_movie" name="options"></span> 
          <br>Movie
        </button>
        <button class="btn btn-default custom-btn-cat-width" ng-class="{active: isSelected('restaurant')}" ng-click="selectTab('restaurant')">
          <input type="radio">
          <span class="fa fa-cutlery fa-4x" id="category_restaurant" name="options"></span> 
          <br>Restaurant
        </button>
        <button class="btn btn-default custom-btn-cat-width" ng-class="{active: isSelected('other')}" ng-click="selectTab('other')">
          <input type="radio">
          <span class="fa fa-question fa-4x" id="category_other" name="options"></span> 
          <br>Other
        </button>
      </div>
    </div>
    <br>
    <form role="form" ng-submit="searchEntry()">
      <div class="form-group">
        <div class="row">  
          <div class="col-xs-offset-1 col-xs-8 col-sm-offset-1 col-sm-9 col-md-offset-1 col-md-10">
            <input type="text" class="form-control input-lg" placeholder="Type your note" autofocus="" ng-model="keyword">
          </div>
          <div class="col-xs-1 col-sm-1">
            <button class="btn btn-default" type="Submit">
              <span class="fa fa-plus fa-2x"></span>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div ng-show="searchPromiseMessage.length>0" class="container" cg-busy="{promise:searchPromise,message:searchPromiseMessage}">
    <br><br>
  </div>

  <div class="container-fluid">
    <h2>{{message}}</h2>
  </div>
    
  <div ng-show="restaurants.length">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 tile-centered" ng-repeat="restaurant in restaurants track by $index">
          <div class="tile-progress tile-restaurants tile-buffer" id="tile-custom-height">
            <div class="tile-header">
              <center>
                <h3>
                  <a ng-click="showRestaurantDetail($index)">
                    {{restaurant.name}}
                  </a>
                </h3>
                <a ng-click="showRestaurantDetail($index)">
                    <img ng-src="{{restaurant.photo_url}}" class="img-responsive" height="180px" width="180px">
                </a>
                <br>{{restaurant.address}}, {{restaurant.city}}
                <br>{{restaurant.phone}}
                <br><br>
                <a ng-click="addRestaurantToList($index)" class="btn btn-primary"><span class="fa fa-plus"><span> Add</a>
              </center>
            </div>
          </div>
        </div>
      </div>            
    </div>    
  </div>

  <div ng-show="movies.length">
    <div class="container-fluid">
      <div class="row title-background">
        <div class="col-sm-3 tile-centered" ng-repeat="movie in movies track by $index">
          <div class="tile-progress tile-movies tile-buffer">
            <div class="tile-header">
              <center>
                <h3>
                  <a ng-click="showMovieDetail($index)">{{movie.title}} 
                    <span ng-show="movie.year">({{movie.year}})</span>
                  </a>
                </h3>
                <a ng-click="showMovieDetail($index)">
                  <img ng-src="{{movie.photo_url}}" class="img-responsive">
                </a>
                <br><br>
                <a ng-click="addMovieToList($index)" class="btn btn-primary"><span class="fa fa-plus"><span> Add</a>
              </center>
            </div>
          </div>
        </div>
      </div>            
    </div>    
  </div>

  <div ng-hide="userRestaurants.length" class="container" cg-busy="{promise:retrieveRestaurantsPromise,message:retrieveRestaurantsPromiseMessage}">
    <br><br><br>
  </div>

  <div ng-show="userRestaurants.length" class="container-fluid">
    <h2><label>Where to eat?</label></h2>
    <section class="userRestaurants">
      <div class="row well-without-color">
        <div class="col-xs-1 restaurant-navigation-height vertical-center well navigation" ng-click="decrementUserRestaurantIndex()">
          <div>
            <div>
              <a ng-click="decrementUserRestaurantIndex()">
                <span class="content-clickable">
                  <span class="fa fa-arrow-left fa-2x"></span>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-xs-10">
          <div class="row">
            <div class="col-sm-3 tile-centered row" ng-repeat="restaurant in userRestaurants | orderBy:'created_at':true" ng-show="isRestaurantInScope($index)">
              <div class="tile-progress tile-restaurants" id="tile-history-restaurant-height">
                <div class="tile-header">
                  <center>
                    <h3 id="restaurant-history-height">{{restaurant.name}}</h3>
                    <p><img ng-src="{{restaurant.photo_url}}" class="img-responsive" height="180px" width="180px"></p>
                    <p><strong>Address:</strong> {{restaurant.address}}, {{restaurant.city}}</p>
                    <p><strong>Phone:</strong> {{restaurant.phone}}</p>
                    <p><strong>Rating:</strong> {{restaurant.rating}} ({{restaurant.review_count}} reviews)</p>
                    <p><a ng-href="{{restaurant.url}}" target="_blank" class="btn btn-primary">Read More</a></p>
                  </center>
                </div>
              </div>
            </div>
          </div>            
        </div>
        <div class="col-xs-1 restaurant-navigation-height vertical-center well navigation" ng-click="incrementUserRestaurantIndex()">
          <div>
            <div>
              <a ng-click="incrementUserRestaurantIndex()">
                <span class="content-clickable">
                  <span class="fa fa-arrow-right fa-2x"></span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div ng-hide="userMovies.length" class="container" cg-busy="{promise:retrieveMoviesPromise,message:retrieveMoviesPromiseMessage}">
    <br><br><br>
  </div>

  <div ng-show="userMovies.length" class="container-fluid">
    <h2><label>What to watch?</label></h2>
    <section class="userMovies">
      <div class="row well-without-color">
        <div class="col-xs-1 movie-navigation-height vertical-center well navigation" ng-click="decrementUserMovieIndex()">
          <div>
            <div>
              <a ng-click="decrementUserMovieIndex()">
                <span class="content-clickable">
                  <span class="fa fa-arrow-left fa-2x"></span>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-xs-10">
          <div class="row">
            <div class="col-sm-3 tile-centered row" ng-repeat="movie in userMovies | orderBy:'created_at':true" ng-show="isMovieInScope($index)">
              <div class="tile-progress tile-movies" id="tile-history-movie-height">
                <div class="tile-header">
                  <center>
                    <h3 id="movie-history-height">{{movie.title}} <span ng-show="movie.year">({{movie.year}})</span></h3>
                    <p><img ng-src="{{movie.photo_url}}" class="img-responsive movie-details-image"></p>
                    <p>
                      <strong>Audience rating:</strong> {{movie.audience_rating}}
                      <br><strong>Critics rating:</strong> {{movie.critics_rating}}
                    </p>
                    <p><a ng-href="{{movie.url}}" target="_blank" class="btn btn-primary">Read More</a></p>
                  </center>
                </div>
              </div>
            </div>
          </div>            
        </div>
        <div class="col-xs-1 movie-navigation-height vertical-center well navigation" ng-click="incrementUserMovieIndex()">
          <div>
            <div>
              <a ng-click="incrementUserMovieIndex()">
                <span class="content-clickable">
                  <span class="fa fa-arrow-right fa-2x"></span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <script type="text/ng-template" id="restaurant-detail.html">
    <div class="modal-body">
      <div class="row well-without-color">
        <div class="col-xs-1 restaurant-navigation-height vertical-center well navigation" ng-click="showPreviousRestaurant()">
          <div>
            <div>
              <a ng-click="showPreviousrestaurant()">
                <span class="content-clickable">
                  <span class="fa fa-arrow-left fa-2x"></span>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-xs-10">
          <div class="row">
            <div class="col-sm-12 tile-centered row">
              <div class="tile-progress tile-restaurants" id="tile-history-restaurant-height">
                <div class="tile-header">
                  <center>
                    <h3>{{restaurant.name}}</h3>
                    <p><a href="#/restaurant/{{$index}}"><img ng-src="{{restaurant.photo_url}}" class="img-responsive" height="300px" width="300px"></a></p>
                    <p><strong>Address:</strong> {{restaurant.address}}</p>
                    <p><strong>Phone:</strong> {{restaurant.phone}}</p>                
                    <p><strong>Rating:</strong> {{restaurant.rating}} ({{restaurant.review_count}} reviews)</p>
                  </center>
                </div>
              </div>
            </div>
          </div>            
        </div>
        <div class="col-xs-1 restaurant-navigation-height vertical-center well navigation" ng-click="showNextRestaurant()">
          <div>
            <div>
              <a ng-click="showNextRestaurant()">
                <span class="content-clickable">
                  <span class="fa fa-arrow-right fa-2x"></span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="close()">Close</button>
        <a ng-href="{{restaurant.url}}" target="_blank" class="btn btn-primary">More Information</a>
    </div>
  </script>

  <script type="text/ng-template" id="movie-detail.html">
    <div class="modal-body">
      <div class="row well-without-color">
        <div class="col-xs-1 movie-navigation-height vertical-center well navigation" ng-click="showPreviousMovie()">
          <div>
            <div>
              <a ng-click="showPreviousMovie()">
                <span class="content-clickable">
                  <span class="fa fa-arrow-left fa-2x"></span>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-xs-10">
          <div class="row">
            <div class="col-sm-12 tile-centered row">
              <div class="tile-progress tile-movies" id="tile-history-movie-height">
                <div class="tile-header">
                  <center>
                  <h3>{{movie.title}} <span ng-show="movie.year">({{movie.year}})</span></h3>
                    <p><a href="#/movie/{{$index}}"><img ng-src="{{movie.photo_url}}" class="img-responsive"></a></p>
                    <p><strong>Summary:</strong> {{movie.summary}}</p>
                    <p><strong>Runtime:</strong> {{movie.runtime}}</p>                
                    <p><strong>Theatre release date:</strong> {{movie.theater_release_date}}</p>
                    <p><strong>DVD release date:</strong> {{movie.dvd_release_date}}</p>
                    <p><strong>Audience rating:</strong> {{movie.audience_rating}}</p>
                    <p><strong>Critics rating:</strong> {{movie.audience_rating}}</p>
                  </center>
                </div>
              </div>
            </div>
          </div>            
        </div>
        <div class="col-xs-1 movie-navigation-height vertical-center well navigation" ng-click="showNextMovie()">
          <div>
            <div>
              <a ng-click="showNextMovie()">
                <span class="content-clickable">
                  <span class="fa fa-arrow-right fa-2x"></span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-default" ng-click="close()">Close</button>
      <a ng-href="{{movie.url}}" target="_blank" class="btn btn-primary">More Information</a>
    </div>
  </script>
</div>